<div class="language-switcher">
  <button (click)="toggleDropdown()" class="switcher-button" [attr.aria-expanded]="isOpen">
    <svg class="icon-globe" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5h12M9 3v2m1.048 9.5A18.022 18.022 0 016.412 9m6.088 9h7M11 21l5-10 5 10M12.751 5C11.783 10.77 8.07 15.61 3 18.129"></path>
    </svg>
    {{ getCurrentLanguageName() }}
    <svg class="icon-chevron" fill="currentColor" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
    </svg>
  </button>

  <div *ngIf="isOpen" class="dropdown-menu">
    <button
      *ngFor="let lang of languages"
      (click)="selectLanguage(lang.code)"
      class="dropdown-item"
      [class.active]="lang.code === currentLanguage">
      <span>{{ lang.nativeName }}</span>
      <svg *ngIf="lang.code === currentLanguage" class="check-icon" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
      </svg>
    </button>
  </div>
</div>
